html(lang='en')
	head
		meta(http-equiv='content-type' content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(name='author' content='putter.io')
		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
		meta(name='viewport' content='width=device-width')
		block title
			title= title
		block links
			link(rel='stylesheet' href=static_mount + '/css/putter.css')
			link(rel='stylesheet' type='text/css' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

	body.w-100.lato
		block navigation
			if user
				include ../partials/nav-logged-in.pug
			else
				include ../partials/nav-no-user.pug

		main.fl.w-100.pa3.ph5-ns.bg-white.black
			.db.dt-ns.mw9.center.w-50
				if flash
					section
						if flash.info.length
							.flex.items-center.pa2.bg-washed-blue.dark-blue.ba.br2
								i.fa.fa-info.fa-sm.mr1
								span.lh-title.ml3= flash.info
						if flash.success.length
							.flex.items-center.pa2.bg-washed-green.dark-green.ba.br2
								i.fa.fa-check.fa-sm.mr1
								span.lh-title.ml3= flash.success
						if flash.error.length
							.flex.items-center.pa2.bg-washed-red.dark-red.ba.br2
								i.fa.fa-bug.fa-sm.mr1
								span.lh-title.ml3= flash.error
						if flash.warning.length
							.flex.items-center.pa2.bg-washed-yellow.orange.ba.br2
								i.fa.fa-warning.fa-sm.mr1
								span.lh-title.ml3= flash.warning
			.db.dt-ns.mw9.center.w-100
				block content
					// override me!

		block footer
			// footer

		block scripts
			// not intended to be overridden
			// script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		block pagescripts
			// override me!
